{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": [".vscode/*.json", "tsconfig.json", ".*rc"],
      "options": {
        "parser": "json5",
        "quoteProps": "preserve",
        "singleQuote": false,
        "trailingComma": "all",
      },
    },
  ],
}
